/* 页面整体 */
body {
    margin: 0;
    background-color: #bfe4ff;
    max-width: 100%;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

/* 页脚 */
footer {
    color: #f8f9fa;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #000000;
  }

html {
    background-color: #e7f5ff;
  }


div {
max-width: 50%;
height: 100%;
float: left;
border: 2px red solid;
margin: 0;
padding: 0;
border-radius: 30px;
}


/* 电影列表 */
.movie-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.movie-list li {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}

.movie-list li:last-child {
    border-bottom:none;
}

.movie-list li:hover {
    background-color: #f8f9fa;
}


.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

#pdf-upload {
    margin: 20px;
}