/* 页面整体 */
body {
    margin: 0;
    background-color: #e7f5ff;
    max-width: 100%;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

/* 页脚 */
footer {
    color: #f8f9fa;
    margin-top: 15px;
    /* text-align: center; */
    padding: 10px;
}


html {
    background-color: #e7f5ff;
  }

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.home-main{

    height: 100%;
    margin: 0;
    padding: 0;
}

.container-left{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    flex: 1;
    height: 100vh;
    text-align: center;
    background-color: #e7f5ff;
    

}
.container-right{
    position: relative;
    flex: 1;
    height: 100vh;
    text-align: center;
    background-color: #bfe4ff;
    border-radius: 15px;
    border: 1px solid #6eace1;
}

.clipboard-logo{
    position: absolute;
    top: 15%;
    text-align: center;
    height: auto;
}

.container-heading{
    position: absolute;
    top: 40%;
    width: 100%;
    padding: auto;
    color: #1971c2;
}

.container-subheading{
    position: absolute;
    top: 55%;
    width: 100%;
    padding: auto;
    color: #616161;
}
.container-featureTitle{
    position: absolute;
    text-align: center;
    margin: auto;
    top: 68%;
    width: 100%;
    padding: auto;
    color: #1971c2;
}

.container-featureList{
    position: absolute;
    text-align: center;
    font-size: larger;
    top: 75%;
    width: 100%;
    left: 0%;
    padding: auto;
    color: #616161;
}

.container-upload{
    position: absolute;
    top: 2%;
    width: 100%;
    padding: auto;
    color: #1971c2;
}
.container-scan{
    position: absolute;
    top: 85%;
    width: 100%;
    padding: auto;
    color: #1971c2;

}

#pdf-upload {
    margin: 20px;
}