<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MCQ Scanner</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src="static/js/script.js"></script>
</head>



<body>
    <main class="main-home">

        <div class="grid">

            <div class="container-left">

                <div class="clipboard-logo">
                    <img src="{{url_for('static', filename='images/clipboard.png')}}" width="20%" height="auto" alt="clipboard" />
                </div>

                <div class="container-heading">
                    <h1>Scan And Analyse MCQ Answer</h1>
                    <h1>Sheets in One Place</h1>
                </div>

                <div class="container-subheading">
                    <p><pre>MCQ Scanner - The Free Optical Answer Sheet Scanner</pre></p>
                </div>

                <div class="container-scan">
                    <h2>Analyse MCQ Answer Sheets</h2>
                    <button onclick="scanAnswer()" >Analyse</button>
                </div>
                
                <div id="progressContainer">
                    <div id="progressBar"></div>
                </div>

                <div class="container-view-results" style="display: none;">
                    <button id="viewResultsButton" onclick="viewResults()">View Results</button>
                </div>


            </div>
  
            <div class="container-right">


                <div class="container-upload">
                    <h1>Upload Files</h1>
                    <input type="file" id="pdf-upload" accept="application/pdf" multiple/>
                    <button onclick="uploadAndPreviewPDF()">Upload and Preview</button>
                    
                </div>

                <div class="container-drag" id="drag-container">
                    <div class="drag-area" id="drag-area">
                        <p>Drag & Drop your PDF file here</p>
                    </div>
                </div>
                
                
                <div class="container-preview">
                    <iframe id="pdf-preview" style="display:none;"></iframe>
                    <!-- <iframe id="master-preview" style="display:none;"></iframe> -->
                </div>


                <div class="container-upload-master">

                    <h2>Upload Master Answer</h2>
                    <input type="file" id="fileInput" style="display: none;" accept=".csv" onchange="uploadCSV()"/>
                    <button onclick="document.getElementById('fileInput').click();">Upload</button>

                    <input type="file" id="master-upload" accept="application/pdf" style="display: none;" onchange="uploadAndPreviewMasterPDF()"/>
                    <button onclick="document.getElementById('master-upload').click();" >Upload (PDF Format)</button>
        
                
                </div>

            </div>



        </div>

        
    </main>

    
</body>



</html>